.letter {
  height: 70px;
  width: 70px;
  border: 1px solid white;
  margin: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: bold;
  cursor: default;
}

.contain {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.board {
  display: flex;
  width: 400px;
  height: 550px;
  justify-content: center;
  padding-top: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.board > .row {
  width: 33vw;
  display: flex;
}

.gray {
  border: none;
  background-color: gray;
}

@keyframes wiggle {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}

#message {
  background-color: white;
  border-radius: 10px;
  width: 200px;
  height: 25px;
  position: absolute;
  top: 15px;
  text-align: center;
  padding: 3px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  animation: wiggle;
  animation-duration: 0.5s;
  display: none;
}
